$color-dark-1: #071330;
$color-dark-2: #0C4160;
$color-light-1: #738FA7;
$color-light-2: #C3CEDA;
$color-white:ivory;
$color-black:#333;


.color-light-1 {
    color: $color-light-1;
}

.color-white {
    color:$color-white
}