.button-appearance {
display: block;
padding: 1rem;
margin: 1rem 0;
width: 100%;

}

input {
  display: block;
}
.button-menu {
  width: 50%;

}

.menu {
  width:100%;
  display: flex;
  justify-content: center;
}

